body {
    margin: 0;
    padding: 0;
}

.addview {
    width: 400px;
    background: #EEE;
    padding: 15px;
    margin: 0 auto;
    margin-top: 5%;
}

.addview input {
    padding: 5px;
    width: 39%;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.addview button {
    background: #03A9F4;
    border: 0;
    padding: 5px;
    color: #FFF;
    border-radius: 2px;
    width: 50px;
    cursor: pointer;
}

#display {
    width: 400px;
    margin: 0 auto;
}

#display ul {
    list-style: none;
    margin: 0;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    background: #e8e8e8;
}

#display ul li {
    padding: 10px;
    background: #03A9F4;
    border-top: 1px solid #f7f7f7;
    color: #FFF;
}

.delete{
    background: #ea291a;
    border: 0;
    padding: 5px;
    color: #FFF;
    border-radius: 2px;
    width: 50px;
    cursor: pointer;
    margin-left: 15px;
}